@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Geist Mono", serif;
}

code, pre {
  font-family: "Geist Mono", monospace;
  font-size: 14px;
  background: #0004;
  padding: 2px 4px;
}

body {
  margin: 0;
}